body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, div {
  box-sizing: border-box;
}

/*
 *
 * Header
 *
 */

.header {
  width: 100%;
  display: flex;
  margin-top: 10px;
  font-size: calc(6px + .5vw);
}

.header__logo {
  margin-right: 1em;
  width: calc(100px + 10vw);
  height: calc(100px + 10vw);
}

.header__title {
  position:absolute;
  display: inline;
  right: 0;
  font-weight: 300;
  font-size: calc(20px + 5vw);
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}

.header__subtitle {
  position:absolute;
  display: inline;
  right: 0;
  border-right: 8px solid rgba(0, 0, 0, 0);
  font-weight: 300;
  font-size: calc(10px + 2.5vw);
  margin: 3.5em 0.25em;
  color: #212121;
}

hr {
    width: 100%;
    display: block;
    height: auto;
    margin-top: 0;
    border-top: 4px solid #7d97ad;
}

/*
 *
 * Main
 *
 */

main {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

figure {
  width: 100%;
  margin-top: 1em;
  margin-right: 0;
  margin-left: 0; 
}

.main_image {
   width: 100%;
}

.projects_title {
  clear: both;
  margin-left: .5em;
  margin-top: .5em;
  font-weight: 300;
  font-size: calc(20px + 2.5vw);
  color: #7d97ad;
}

.project_list {
  max-height: 300px;
  flex-direction:row;
  justify-content: space-around;
  display: flex;
  width: 100%;
  padding-right: .5em;
  padding-left: .5em;
  flex-wrap: wrap;
  color: #2d3c49;
  text-align: center;
  font-size: calc(14px + 2vw);
}

.project {
  text-align: center;
  flex: 0 0 33.333%;
  font-weight: 300;
  margin-top: .8em;
  margin-bottom: 1em;
  
}    

.project_image {
  width:75%;
  height:75%;
  max-height: 150px;
  max-width: 150px;
}

.project_link {
  color: #2d3c49;
  text-decoration: none;
  font-size: calc(14px + 0.5vw);
  text-align: center;
}

.paragraph {
  width: inherit;
  margin-top: auto;
  font-size: calc(16px + .5vw);
  color: #212121;
}